.mark_blue {
    font-size: 20px;
    border-radius: 3.5px;
    text-margin: 3px;
    color: aliceblue;
    background: cornflowerblue;
}

.mark_red {
    font-size: 20px;
    border-radius: 3.5px;
    text-margin: 3px;
    color: aliceblue;
    background: indianred;
}

.mark_yellow {
    font-size: 20px;
    border-radius: 3.5px;
    text-margin: 3px;
    color: aliceblue;
    background: goldenrod;
}

.quoteblock {
    font-family:San Francisco;
    font-size: 25px;
    font-style: oblique;
    background: ghostwhite;
    border: 1px solid darkgray;
    border-radius: 0.5px;
}
