.mark_blue {
    font-size: 20px;
    border-radius: 0.5px;
    background: cornflowerblue;
}

.mark_red {
    font-size: 20px;
    border-radius: 0.5px;
    background: indianred;
}

.mark_yellow {
    font-size: 20px;
    border-radius: 0.5px;
    background: khaki; 
}

.quoteblock {
    font-family:San Francisco;
    font-size: 25px;
    font-style: oblique;
    background: ghostwhite;
    border: 1px solid darkgray;
    border-radius: 0.5px;
}
